[Unit]
Description=A really simple webhook receiver.
After=network.target

[Service]
ExecStart=/usr/local/bin/gohookr

[Install]
WantedBy=multi-user.target
